@font-face {
    font-family: 'e-Ukraine';
    src: url('C:\Users\Admin\source\repos\psychological-support-website\psychological-support-website\Шрифти\e-Ukraine-Regular\e-ukraine-regular_w.ttf') format('truetype');
}

.mainText {
    color: #8A938B;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 28px;
}

h2 {
    font-size: 50px;
    font-family: 'FixelText', sans-serif;
    font-weight: bold;
}

.header_block {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #F4FFF6;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    z-index: 2;
}

body {
    background-color: #F4FFF6;
}

#logo_container {
    width: 200px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 35px;
    height: 35px;
}

#logo_background {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #58A65F;
}

#main_title {
    color: #013700;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'FixelText', sans-serif;
}

.button_block {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content_btn {
    height: 50px;
    width: auto;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 25px;

    cursor: pointer;
}

.content_btn:hover {
    background-color: #BEC7C0;
}

.make_appointment {
    /* button */
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #59A560;
    color: white;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 28px;

    cursor: pointer;
}

.make_appointment:hover {
    background-color: #305733;
    color: gray;
}

.introduction_block {
    height: auto;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about_us {
    width: 730px;
    z-index: 1;
}

#introImg {
    margin-top: 100px;
    width: 626px;
    height: 626px;
}

.proposition {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter {
    height: 200px;
    width: 1400px;
    margin-left: 250px;
    margin-top: 80px;
    background-color: #58A65F;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counterBlock {
    height: 200px;
    width: 450px;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 5px;
    ;
}

.specialists {
    margin-top: 100px;
    margin-left: 150px;
    text-align: center;
    width: 1700px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.wrapper {
    display: flex;
    transition: transform 0.3s ease;
    width: 1600px;

}

.item {
    width: 500px;
    /* Ширина кожного елемента */
    height: 100%;
    flex-shrink: 0;
    margin-left: 50px;
    flex-wrap: wrap;
    display: block;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover .btn_arrow {
    background-color: #58A65F;
    border-radius: 50%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    margin-right: 12px;
}

.btn_arrow {
    width: 40px;
    height: 40px;
}

.specialist_text {
    width: 500px; 
    height: 438px;
    border: none;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
    
    position: relative;
}

.specialist_text p{ 
    height: 200px;  
    overflow: hidden;
    margin-left: 15px;
}

.specialist_photo {
    width: 500px;
    height: 490px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.specialist_photo img{
    width: 500px;
    height: 490px;
    border: none;
    border-radius: 20px;
}

.details_btn{
    background-color: transparent;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block; 
    border-bottom: 4px solid;
}


