@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-Ukraine-Regular/e-ukraine-regular_w.ttf') format('truetype');
}

.mainText {
    color: #8A938B;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 23px;
}

h2 {
    font-size: 48px;
    font-family: 'FixelText', sans-serif;
    font-weight: bold;
}

.header_block {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #F4FFF6;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    z-index: 999;
}

body {
    background-color: #F4FFF6;
    align-items: center;
}

#logo_container {
    width: 200px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 35px;
    height: 35px;
}

#logo_background {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #58A65F;
}

#main_title {
    color: #013700;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'FixelText', sans-serif;
}

.button_block {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content_btn {
    height: 50px;
    width: auto;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 25px;

    cursor: pointer;
}

.content_btn:hover {
    background-color: #BEC7C0;
}

.make_appointment {
    /* button */
    min-height: 60px;
    min-width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #59A560;
    color: white;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 23px;

    cursor: pointer;
}

.make_appointment:hover {
    background-color: #305733;
    color: grey;
}

.introduction_block {
    height: auto;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about_us {
    width: 730px;
    z-index: 1;
}

#introImg {
    margin-top: 100px;
    width: 626px;
    height: 626px;
}

.proposition {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter {
    height: 200px;
    width: 1400px;
    margin-left: 300px;
    margin-top: 80px;
    background-color: #58A65F;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.counterBlock {
    height: 200px;
    width: 450px;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 5px;
    
}

.specialists {
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
    width: 1360px;
    overflow: hidden;
    position: relative;
    align-items: center;
    
}

.wrapper {
    display: flex;
    transition: transform 0.3s ease;
    width: 1360px;
}

.item {
    width: 400px;
    /* Ширина кожного елемента */
    height: 100%;
    flex-shrink: 0;
    margin-left: 40px;
    flex-wrap: wrap;
    display: block;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover .btn_arrow {
    background-color: #58A65F;
    border-radius: 50%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    margin-right: 12px;
}

.btn_arrow {
    width: 40px;
    height: 40px;
}

.specialist_text {
    width: 400px;
    height: 351px;
    border: none;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.specialist_text p{
    height: 170px;
    width: 350px;
    overflow: hidden;
    margin-top: -10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 20px;
}

.specialist_text h2{
    font-size: 34px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.specialist_photo {
    width: 400px;
    height: 392px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.specialist_photo img{
    width: 400px;
    height: 392px;
    border: none;
    border-radius: 20px;
}

.details_btn{
    background-color: transparent;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-bottom: 4px solid;
}

.counter {
    width: 1240px;
    height: 170px;
    background-color: #59A560;
    color: white;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 14px;
}


#count1, 
#count2, 
#count3 {
    margin-bottom: 50px;
}

.rectangle {
    color: white;
    font-size: 20px;
    font-family: 'e-Ukraine', sans-serif;
    text-align: center;
    line-height: 2px;
}

.faq {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.faq h2 {
    text-align: center;
    margin-bottom: 70px;
}

.faq-item {
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 3px solid #58A65F;
}

.faq-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    font-size: 27px;
    font-weight: 600;
    font-family: 'e-Ukraine', sans-serif;
}

.faq-toggle {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: right;
    position: relative;
}

.faq-content {
    display: none;
    overflow: hidden;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'e-Ukraine', sans-serif;
}

.faq-item.active .faq-content {
    display: block;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 100px;
    width: auto;
  }

.contact-form h2, .contact-form p {
    margin: 0;
  }

.form-question {
      padding-right: 97px;
      margin-left: 200px;
}

.form-question p{
    font-size: 19px;
    font-family: 'e-Ukraine', sans-serif;
    color: #818181;
    opacity: 85%;
}

.contacts{
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.contacts input[type="text"], input[type="email"]{
    width: 609px;
    margin-bottom: 20px;
    padding: 21px 0 22px 30px;
    border-radius: 12px;
    border: 3px solid #030B00;
    background-color: transparent;
    font-size: 18px;
    font-family: 'e-Ukraine', sans-serif;
    color: #818181;
    opacity: 85%;
}

.contacts input[type="message"]{
    width: 609px;
    max-height: 147px;
    margin-bottom: 20px;
    padding: 21px 0 104px 30px;
    border-radius: 12px;
    border: 3px solid #030B00;
    background-color: transparent;
    font-size: 18px;
    font-family: 'e-Ukraine', sans-serif;
    color: #818181;
    opacity: 85%;
}

.contacts input:focus {
    color: #030B00;
}


.contacts button[type="submit"]{
    height: 65px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-family: 'e-Ukraine', sans-serif;
    color: #fff;
    background-color: #58A65F;
    cursor: pointer;
}


footer{
    width: 100%;
    height: 278px;
    background-color: #58A65F;
    margin-top: 30px; /*для відокремлення футеру пізніше прибрати*/
}

.footer-container {
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.footer-section .logo-line {
    display: flex;
    align-items: center;
}

.logo-img{
    width: 52px;
    height: 52px;
    margin-right: 7px;
}

.logo-name {
    font-size: 31px;
    font-family: 'e-Ukraine', sans-serif;
    color: #f4fff5;
    font-weight: 600;
}

.logo-desc {
    width: 280px;
    font-size: 19px;
    font-family: 'e-Ukraine', sans-serif;
    color: #f4fff5;
    margin-top: -10px;
    letter-spacing: 1px;
}

.footer-social{
    margin-top: 7px;
}

.social-img{
    margin-right: 24px;
}

.information-list{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 121px;
}

.information-list p{
    max-width: 250px;
    margin-bottom: 6px;
    font-size: 20px;
    font-family: 'e-Ukraine', sans-serif;
    color: #f4fff5;
    word-wrap: break-word;
}

.working_steps{
    height: auto;
    width: auto;
    margin-top: 100px;
    margin-left: 300px;
    align-items: center;
    text-align: center;
}

.steps {

    align-items: center;
    display: flex;
}

#stepsImg {
    margin-top: 100px;
    width: 626px;
    height: 626px;
}

#stepsArrows{
    width: 91px; 
    height: 564px;

}

.stepsBlock {
    width: 420px;
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.stepsText {
    margin-left: 5px;
}

.reviews{    
    text-align: center;
    width: 1360px;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.review{
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 328px;
    margin-left: 40px;
    flex-wrap: wrap;
    text-align: left;
    flex-shrink: 0;
}

.userPhoto{
    border: none;
    border-radius: 50%;
    width: 120px;
    height: 120px;

}

.reviewHead{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.prev_review {
    left: 0;
}

.next_review {
    right: 0;
    margin-right: 12px;
}


.wrapper_review {
    display: flex;
    transition: transform 0.3s ease;
    width: 1600px;
}
